<div class="ficha-diputado">
  <div class="titulo" style="" >
      <%= legislatura["leg_descripcion"] %>
  </div>
  <div class="imagen">
    <a href="http://www.congreso.es/portal/page/portal/Congreso/Congreso/Diputados/BusqForm?_piref73_1333155_73_1333154_1333154.next_page=/wc/fichaDiputado&idLegislatura=<%=legislatura['id_legislatura']%>&idDiputado=<%=legislatura['id_diputado']%>" target="_blank">
      <%= image_tag path_to_img(legislatura["foto"]) %>
    </a>
  </div>
  <div class="info">
    <div class="partido">
        <%= legislatura["gr_nombre"] %>
    </div>

    <div>
        Cirscuncripción: <strong><%= format_bio(legislatura["circ_nombre"]) %></strong>
    </div>
    <div>
      Iniciativas: <strong><%= (!legislatura["iniciativas"].blank? ? format_bio(legislatura["iniciativas"]) : '0') %></strong>
    </div>
    <div>
      Media de iniciativas en la legislatura por diputado: <strong><%= format_bio(legislatura["avg_iniciativas"]) %></strong>
    </div>
    <div>
      Intervenciones: <strong><%= format_bio(legislatura["intervenciones"]) %></strong>
    </div>
    <div>
      Media de intervenciones en la legislatura por diputado: <strong><%= format_bio(legislatura["avg_intervenciones"]) %></strong>
    </div>    



    <div class="bio">
        <%= format_bio(legislatura["bio"]) %>
    </div>
  </div>
</div>
